.headerGrid {
	display: grid;
	max-width: 50vw;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 8px;
	row-gap: 8px;
	padding: 2vh 0;
	font-size: 18px;
	> div {
		padding: 4px;
	}
}

.optional {
	background-color: rgba(150, 250, 150, 0.25);
	padding: 4px;
}