.indexBody {
	padding: 2vh 5vw;
}

.buttonContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 8px;
	max-width: 50vw;
	> button {
		display: block;
		padding: 1rem;
		background-color: white;
		color: black;
		font-size: 1.25rem;
		border: 1px solid black;
		outline: none;
		border-radius: .5rem;
		transition: all 0.25s;
		&:hover {
			cursor: pointer;
			transform: translateY(-0.25rem);
			box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
		}
	}
}

.fileInputContainer {
	font-size: 1rem;
	border: 1px solid black;
	display: inline-block;

	border-radius: 0.25rem;
	> input {
		font-size: 1rem;
		margin: 0.75rem;
		cursor: pointer;
	}
}

.apiStatus {
	display: inline-block;
	padding: 0.5rem 1rem;
}

.productGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 18px;
}

.gridItem {
	display: grid;
	grid-template-columns: 150px 1fr;
	row-gap: 10px;
	margin: 1rem 2rem 1rem 0;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 1rem;
}